.MyBtn {
    width: auto;
    padding: 10px 10px;
    color:teal;
    font-size: 14px;
    background: transparent;
    border: 1px solid teal;
    cursor: pointer;
    border-radius: 5px;
}

.MyBtn:hover {
    background: aquamarine;
}

