.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333; /* Цвет фона навигационной панели */
    padding: 5px;
    color: white; /* Цвет текста */
}

/* Стили для левой части навигационной панели (надпись) */
.navbar_left {
    display: flex;
    margin: 0;
    font-size: 24px; /* Размер шрифта надписи */
    align-items: center;
}

/* Стили для правой части навигационной панели (картинка и кнопка) */
.navbar_right {
    display: flex;
    gap: 10px;
    width: auto; /* Ширина картинки */
    height: auto;
    margin-right: 10px;
}


img {
    margin-right: 10px;
}

h1{
    font-size: 20px;
    margin: 0;
}
